<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>Profile</ion-title>
  
      <ion-buttons end>
  
        <button ion-button icon-only (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
        </button>
       
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  <!-- class="background" -->
  <ion-content >  
  
    <!-- Fab to display Camera to take picture from Mobile Camera -->
    <ion-fab left top>
      <button ion-fab color="primary" (click)="takePicture()">
            <ion-icon name="md-camera"></ion-icon>
        </button>
    </ion-fab>
  
    <!-- Fab to display Gallery to Select Image from Mobile Gallery -->
    <ion-fab right top>
      <button ion-fab color="secondary" (click)="selectFromGallery()">
            <ion-icon name="image"></ion-icon>
        </button>
    </ion-fab>
    
    <!-- Display Image -->
    <img src="{{ images_path }}" class="thumb-img" #imageToView (click)="displayImageFullScreen(imageToView)">

    <!-- Display Name -->
    <ion-item (click)="updateName()">
      <ion-grid>
        <ion-row>
          <ion-col width-50 class="labelStyle">
            Name
          </ion-col>
          <ion-col >
              {{userInfo?.name}}
             <!-- {{ user?.displayName }} -->
          </ion-col>
          <ion-col class="placeholder-profile" *ngIf="user?.displayName == null">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  
     <!-- Display Nickname -->
     <ion-item (click)="updateNickName()">
      <ion-grid>
        <ion-row>
          <ion-col width-50 class="labelStyle">
            Nickname
          </ion-col>
          <ion-col >
              {{userInfo?.nickname}}
           <!-- {{ (userObj | async)?.nickName }} -->
          </ion-col>
          <!-- <ion-col class="placeholder-profile" *ngIf="(userObj | async)?.nickName == null">
            <span>
              Tap here to edit.
            </span>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-item>
  
    <!-- Display Date of Birth 
    <ion-item>
      <ion-label class="labelStyle">Date of Birth</ion-label>
      <ion-datetime displayFormat="MMM D, YYYY" pickerFormat="D MMM YYYY" [(ngModel)]="birthDateVar" (ionChange)="updateBirthDate(birthDateVar)"></ion-datetime>
    </ion-item> -->
  
    <!-- Display City -->
    <ion-item (click)="updateCity()">
      <ion-grid>
        <ion-row>
          <ion-col width-50 class="labelStyle">
            City
          </ion-col>
          <ion-col >
              {{userInfo?.name}}
          <!--  {{ (userObj | async)?.city }} -->
          </ion-col>
          <!-- <ion-col class="placeholder-profile" *ngIf="(userObj | async)?.nickName == null">
            <span>
              Tap here to edit.
            </span>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-item>

    <!-- Display State -->
    <ion-item (click)="updateState()">
        <ion-grid>
          <ion-row>
            <ion-col width-50 class="labelStyle">
              State
            </ion-col>
            <ion-col >
                {{userInfo?.name}}
            <!--  {{ (userObj | async)?.city }} -->
            </ion-col>
            <!-- <ion-col class="placeholder-profile" *ngIf="(userObj | async)?.nickName == null">
              <span>
                Tap here to edit.
              </span>
            </ion-col> -->
          </ion-row>
        </ion-grid>
      </ion-item>
  
    <!-- Display Country -->
    <ion-item (click)="updateCountry()">
      <ion-grid>
        <ion-row>
          <ion-col width-50 class="labelStyle">
            Country
          </ion-col>
          <ion-col >
              {{userInfo?.name}}
           <!-- {{ (userObj | async)?.country }} -->
          </ion-col>
          <!-- <ion-col class="placeholder-profile" *ngIf="(userObj | async)?.nickName == null">
            <span>
              Tap here to edit.
            </span>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-item>
  
    <!-- Display Email 
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col width-50 class="labelStyle">
            Email
          </ion-col>
          <ion-col class="placeholder-profile">
            <span>
              {{ (userObj | async)?.email }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item> -->
  
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col width-50 class="labelStyle">
            Total <ion-icon [style.color]="'red'" name="ios-star" ></ion-icon>
          </ion-col>
          <ion-col class="placeholder-profile">
            <span>
                {{userInfo?.totalstars}}
            <!--  {{ (userObj | async)?.totalStars }} -->
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  
  </ion-content>
  