page-add-new-location {
    .background{
        width:100%;
        height:100%;
        background: linear-gradient(10deg,#4E5EFC,#4EE7FC);
    }
    .title-image {
        margin-top: 20px;
        margin-left: 80px;
        height:100px;
        width: 100px;
        position: relative;
    }
    .card-display{
        margin-top: 30px;
        position: relative;
    }
    .no-scroll .scroll-content{
        overflow: hidden;
    }

    .labelStyle {
        color: blue;
    }

    .postBox {
        height: 150px;
    }

    .bottomToolBar {
        position: fixed;
        left: 0;
        bottom: 30px;
        right: 0;
    }
}
