<!--
  Generated template for the CommentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title class="labelStyle">Comments</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content >
  
      <ion-refresher (ionRefresh)="dorefresh($event)">
          <ion-refresher-content pullingText="Pull to refresh"
                          pullingIcon="arrow-dropdown"
                          refreshingSpinner="circles"
                          refreshingText="..fetching">
          </ion-refresher-content>
      </ion-refresher>
  
    <ion-card>
  
      <ion-item>
  
        <ion-avatar item-left>
            <img src="{{ profilePic }}" #imageToView (click)="displayImageFullScreen(imageToView)">
        </ion-avatar>

        <ion-avatar item-right (click)="addToWishlist()" *ngIf="postObj?.CreatedById != user.uid && !isPostInWishlist">
          <ion-icon name="ios-heart-outline"></ion-icon>
        </ion-avatar>

        <ion-avatar item-right (click)="removeFromWishlist()" *ngIf="postObj?.CreatedById != user.uid && isPostInWishlist">
          <ion-icon name="ios-heart"></ion-icon>
        </ion-avatar>
  
        <a class="text-primary">
            <h2> {{ userObj?.name }} </h2>
            <p> {{ postObj?.CreatedDate }}  </p>
        </a>
  
      </ion-item>
  
      <ion-card-content>
        {{ postObj?.post }}
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small (click)="addLike()" *ngIf="!isPostLiked" >
            <ion-icon name="ios-thumbs-up-outline"></ion-icon>
            <div>Like</div>
          </button>

          <button ion-button icon-left clear small (click)="removeLike()" *ngIf="isPostLiked" >
            <ion-icon name="thumbs-up"></ion-icon>
            <div>Like</div>
          </button>

        </ion-col>
      </ion-row>

    </ion-card>

        <button ion-button icon-left clear small (click)="gotoLikesPage(postId)" >
          <ion-icon name="ios-thumbs-up"></ion-icon>
          <div> <u> {{ likesCount }} Likes </u></div>
        </button>

        <button ion-button icon-left clear small >
            <ion-icon name="text" icon-left></ion-icon>
            <div> <u> {{ commentsCount }} Comments </u></div>
          </button>
    
          <p padding *ngIf="comments.length === 0"> Be the first person to comment </p>

          <ion-list *ngIf="comments.length > 0"> <!-- *ngIf="comments?.length > 0"    -->
              <ion-list-header>
                  Comments
              </ion-list-header>
        
              <ion-item-sliding *ngFor="let comment of comments">
                  <ion-item class="item-icon-left" >  <!-- *ngIf="comment?.commentHidden" -->
                    <ion-avatar item-left>
                        <img src="{{ comment.profilePic }}" #imageToView (click)="displayImageFullScreen(imageToView)">
                    </ion-avatar>
                    
                  <a class="text-primary">
                    <h2 (click)="gotoUsersPage(comment.commentedBy)" class="labelStyle"> {{comment.name}}</h2>
                    <p> {{comment.commentedDate }} </p>   <!-- |date:'MM/dd/yyyy @ h:mma' -->
                  </a>

                    {{comment.comment}}
        
                  </ion-item>
        
                  <ion-item-options side="right" *ngIf="comment.commentedBy === user.uid" >
                    <button color="danger" ion-button (click)="deleteComment(comment.id)" ><ion-icon name="trash"> Delete</ion-icon></button>                  
                    <button danger ion-button (click)="editComment(comment.id, comment.comment)"><ion-icon name="edit">Edit</ion-icon></button>
                  </ion-item-options>
        
              </ion-item-sliding>
          </ion-list>

  </ion-content>
  
  <ion-footer >
      <ion-toolbar>
     <div >
      <ion-row class="msg-box">
        <ion-item>

            <!-- <ion-toolbar position="bottom" *ngIf="userIsAdmin">

                <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="message-form">
            
                    <ion-badge class="message-form-badge">Admin</ion-badge>
            
                    <ion-input type="text" placeholder="Type a message..." ngControl="messageInput"></ion-input>
                
                    <button type="submit" small class="message-form-button">Send <ion-icon name="send"></ion-icon></button>
            
                </form>
            
            </ion-toolbar> -->

          <ion-input type="text" placeholder="Write a comment..." [(ngModel)]="commentInput" class="input-bottom"></ion-input>
          <button ion-button item-right (click)="postComment(commentInput)" [disabled]="commentInput?.length < 1" class="ion-send-button"><ion-icon name="send"></ion-icon></button>
        </ion-item>
      </ion-row>
    </div>
  </ion-toolbar>
  <ion-footer>
  