page-comments {
    .background{
        width:100%;
        height:100%;
    }
    .title-image {
        margin-top: 20px;
        margin-left: 80px;
        height:100px;
        width: 100px;
        position: relative;
    }
    .card-display{
        margin-top: 30px;
        position: relative;
    }
    .no-scroll .scroll-content{
        overflow: hidden;
    }

    .labelStyle {
        color: blue;
    }

    .input-bottom {
        border: 1px solid ;
        border-radius: 4px;
        padding: 0px 20px;
        width: 80%;
        position: absolute;
        bottom: 0px;
        background-position: 10px 10px; 
    }

    .ion-send-button {
        width: 10.5%;
       // line-height: 100px !important;
        min-height: 35px !important;
        height: 80%;
    }

    .ion-input {
        display: block;
        width: auto;
    }

    #myInput {
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
        white-space: normal
    }
}